<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106387644583-vpplsuo7vf39dpvaahn9j2u15443bkt8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106387644583-vpplsuo7vf39dpvaahn9j2u15443bkt8</string>
	<key>API_KEY</key>
	<string>AIzaSyCVRl9WTaLveYCDfCFXSuOJVL78659AJhM</string>
	<key>GCM_SENDER_ID</key>
	<string>106387644583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.avappel.lettuce</string>
	<key>PROJECT_ID</key>
	<string>lettuce-7c717</string>
	<key>STORAGE_BUCKET</key>
	<string>lettuce-7c717.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106387644583:ios:f9aa4b0a3535128fcb3b82</string>
	<key>DATABASE_URL</key>
	<string>https://lettuce-7c717.firebaseio.com</string>
</dict>
</plist>